<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type='text/css' href="CSS/estilo.css" />

    <!-- JavaScript -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript">
        $("document").ready(function(){
          $("#boa").hide();
          $("#alerta").hide();
          $("#ruim").hide();
          $("#infos").hide();
          $("#p").hide();

          $("#localizar").click(function (){
            var latitude = $("#latitude").val();
            var longitude = $("#longitude").val();
            // The location of Uluru
             var uluru = {lat: parseFloat(latitude), lng: parseFloat(longitude)};
             // The map, centered at Uluru
             var map = new google.maps.Map(
             document.getElementById('map'), {zoom: 4, center: uluru});
              // The marker, positioned at Uluru
                 var marker = new google.maps.Marker({position: uluru, map: map});
                 $("#ruim").toggle();
                 $("#infos").toggle();
                 $("#p").toggle();
          });
      });
     // Initialize and add the map
        
    </script>
    
    <title>Algae</title>
    <style>
        /* Set the size of the div element that contains the map */
        #map {
          height: 400px;  /* The height is 400 pixels */
          width: 100%;  /* The width is the width of the web page */
         }
      </style>
      <script  async defer src="https://maps.googleapis.com/maps/api/js"></script>
  </head>
  <body>
          <nav class="navbar  navbar-expand-lg navbar-light border-bottom" style="background-color: #ffffff;">
              <a class="navbar-brand ml-5 p-3" href="paginainicial.html" >
                  <img src="/docs/4.1/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">
                  Algae
              </a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Alterna navegação">
                  <span class="navbar-toggler-icon"></span>
              </button>

              <div class="container">
              
                  <div class="collapse navbar-collapse ml-5" id="navbarTogglerDemo01">
                      <div class="navbar-nav mr-auto">
                          <a class="nav-item nav-link active  ml-4" href="produtos.php?pagina=1">Nossa Missão  </a> 
                          <a class="nav-item nav-link active  ml-4" href="#">Quem Somos  </a>
                          <a class="nav-item nav-link active  ml-4" href="#">Galeria  </a>        
                      </div>        
                          
      
                      <form class="form-inline my-1 my-lg-0 mr-5">
                          <input class="form-control mr-sm-2" type="search" placeholder="Pesquisar" aria-label="Pesquisar">
                          <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Pesquisar</button>
                      </form>  
                            
                  </div>
                  
              </div>   
          </nav>  

    <div class="container">

        <div class="pb-2 mt-4 mb-2 border-bottom">
            <h1>Localizar</h1>
        </div>
    
      
            
      <div class="row">
        <div class="col-5">
            <form class="formcadastro">
                <div class="form-group">
                  <label>Latitude</label>
                  <input type="text" class="form-control" id="latitude" name="inputemail" placeholder="60.026441">
                </div>

                <div class="form-group">
                  <label>Longitude</label>
                  <input type="text" class="form-control" id="longitude" name="inputpassword" placeholder="18.453573">
                </div>

                 
                
                <div class="row">   
                  <div class="col-12"> 
                    <div class="form-group">      
                      <div class="botao">
                        <button type="button" class="btn btn-primary" id="localizar">Localizar</button>
                      </div>
                    </div>
                  </div>  
                  <div class="container">
                      <div class="form-group mt-5">      
                          <div class="botao">
                            <div id="infos">
                                <p class="font-weight-bold">Taxa de precisão:
                                    <button type="button" class="btn btn-outline-success btn-sm ml-3">88%</button>
                                </p>
                                <p class="font-weight-bold">Qualidade da agua:
                                    <button type="submit" class="btn btn-success  btn-sm ml-3" id="boa">Boa</button>
                                    <button type="submit" class="btn btn-warning  btn-sm ml-3" id="alerta">Alerta</button>
                                    <button type="submit" class="btn btn-danger  btn-sm ml-3" id="ruim">Ruim</button>
                                </p>
                                
                            </div>
                          </div>
                          
                        </div>
            
                  </div> 
                </div> 
                
    
            </form>   

        </div>

        <div class="col-7">
            <div id="map"></div>

        </div>  
      </div>    
    </div>
    <!-- Optional JavaScript -->
    <script type="text/javascript" src="{{url_for('static',filename='javascript.js')}}"></script>  
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>